<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Adicionar Produto</title>
</head>
<body>
    <h1>Adicionar Produto</h1>
    <form method="post" action="{{ request.route_url('product_add') }}">
        <label>Nome: <input type="text" name="name"></label><br>
        <label>Descrição: <textarea name="description"></textarea></label><br>
        <label>Preço: <input type="number" step="0.01" name="price"></label><br>
        <label>Imagem: <input type="text" name="image_path"></label><br>
        <button type="submit">Salvar</button>
    </form>
    <a href="{{ request.route_url('home') }}">⬅ Voltar</a>
</body>
</html>
